header {;
    background-image: url(images/pic_1.jpg)
}
header a{;
    
}
header img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 5%;
}
header nav a {

    color: white;
    text-decoration: none;


}

header section{
    text-align: center;
    color: white;
}

header section h2 {
    color: white;
    }

button {
    background-color: #C271FF;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 8px 10px;
}



header section div h1{
    font-size: 5em;
    margin: 0;
}

header section img {
border-radius: 50%;
width: 100px;
height: 100px;
}
body {


}

main section:first-of-type {
background-color: #C271FF;
padding: 20px 0;

}

main section:first-of-type img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float:left;
    margin-left: 10px;
}

main section:first-of-type p {
    color: white;
    display: flex;
    justify-content: flex-start;
    margin-left: 30%;
}

main section blockquote
{
    display: flex;
    justify-content: center;
    color: white;
    text-align: left;
    

}


main section:nth-of-type(2) div:nth-of-type(1) {

    display: flex;
    flex-direction: row;
    gap: 20px;
}

main section:nth-of-type(2) div:first-of-type img {
    height: 125px;
    width: 200px;
}

main section:nth-of-type(2) div:nth-of-type(6) {
display: flex;
flex-direction: row;
justify-content: space-between;
}

main section:nth-of-type(2) div:nth-of-type(6) img{
    height: 5px;
    width: 5px;
}


main section:nth-of-type(3){
    background-color:#071629 ;
}

main section:nth-of-type(3) h1 {
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
main section:nth-of-type(3) h2{
    color: white;
    text-align: center;
}

main section:nth-of-type(3) p{
    color: white;
    text-align: center;
}

main section:nth-of-type(4) div:first-of-type  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: start;
}

main section:nth-of-type(4) h2 {
    text-align: center;;
}

main section:nth-of-type(4) p {
    text-align: left;
}


main section:nth-of-type(4) h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}


footer {
    background-color:#071629 ;
}

