header {;
    background-image: url(images/pic_1.jpg)
    
}
header a{;
    
}
header img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav {
}
nav a {
    color: white;
    text-decoration: none;


}

button {
    background-color: #C271FF;
    color: white;
    border-radius: 8px;
    border: none;
}
body {


}

main section:first-of-type {
background-color: #C271FF;

}